//------  SVG icons of article's tags -------------

+icon('photoshop', '-ps')

+icon('illustrator', '-ai')

.tag.i-c4d
	img(class="tag__icon icon" src="images/Apps-Cinema4D.png")

.tag.i-eye
	svg(viewBox="0 0 100 100" class="tag__icon icon" )
		use(xlink:href="images/sprite.svg#eye")

.tag.i-like
	svg(viewBox="0 0 100 100" class="tag__icon icon" )
		use(xlink:href="images/sprite.svg#like")

//------  SVG icons of article's types -------------


+icon('video', '-icon')

+icon('microphone', '-icon')

+icon('pencil', '-icon')





