nav.nav
	ul.nav__menu
		li.nav__item.nav__item--current
			a(href="").nav__link
				.nav__icon
					svg(viewBox="0 0 100 100" class="menu__icon icon" )
						use(xlink:href="images/sprite.svg#home")
				span.nav__text Главная
		li.nav__item
			a(href="").nav__link
				.nav__icon
					svg(viewBox="0 0 100 100" class="menu__icon icon" )
						use(xlink:href="images/sprite.svg#article")
				span.nav__text Блог
		li.nav__item
			a(href="").nav__link 
				.nav__icon
					svg(viewBox="0 0 100 100" class="menu__icon icon" )
						use(xlink:href="images/sprite.svg#gallery")
				span.nav__text Галлерея
		li.nav__item
			a(href="").nav__link 
				.nav__icon
					svg(viewBox="0 0 100 100" class="menu__icon icon" )
						use(xlink:href="images/sprite.svg#contacts")
				span.nav__text Контакты