nav.navigation
	ul.navigation__menu
		li.navigation__item.navigation__item--current
			a(href="").navigation__link
				.navigation__icon.tages
					img(class="tag__icon icon" src="images/Apps-Cinema4D.png")
				span.navigation__text Cinema 4D
		li.navigation__item
			a(href="").navigation__link
				.navigation__icon.tages
					+icon('photoshop', '-ps')
				span.navigation__text Photoshop
		li.navigation__item
			a(href="").navigation__link 
				.navigation__icon
				span.navigation__text After Effect
		li.navigation__item
			a(href="").navigation__link 
				.navigation__icon
				span.navigation__text Premiere
		li.navigation__item
			a(href="").navigation__link 
				.navigation__icon.tages
					+icon('illustrator', '-ai')
				span.navigation__text Illustrator