.s-navbar
	.container
		nav.navbar
			button(type="button").sandwich
				span.sandwich__line
				span.sandwich__line
				span.sandwich__line
			ul.navbar__list
				li.navbar__item
					a(href="index.html").navbar__link Главная 
				li.navbar__item
					a(href="").navbar__link Программа
				li.navbar__item
					a(href="").navbar__link Рабочая программа
				li.navbar__item
					a(href="speaker.html").navbar__link Спикеры
				li.navbar__item
					a(href="placement.html").navbar__link Отель
				li.navbar__item
					a(href="checkin.html").navbar__link Регистрационная форма