section.s-placement__main
	.container
		h2.headline Размещение
		.s-placement__content
			H3 Отель - Courtyard by Marriott Pushkin Hotel
				span Россия, 190121, Санкт-Петербург, наб. Канала Грибоедова, д. 166/Канонерская ул. 33

			a(href="") https://www.marriott.com/hotels/local-things-to-do/ledgr-courtyard-st-petersburg-center-west-pushkin-hotel/
