extends ../_base


block variables
	- var title = "Летняя школа права"
	- var pageTitle = 's-placement'

block content
	div(class=`${pageTitle}`)
		include ../sections/_header
		include ../sections/_placement
		include ../sections/_footer