/* .sprite-icons {
    background-image: url(../img/sprite-icons.png);
    background-repeat: no-repeat;
    display: block;
}

.icon1 {
    width: 46px;
    height: 46px;
    background-position: -5px -5px;
}

 */