// fonts
$fontMain: 'Roboto', sans-serif;
$fontTitles: 'Roboto Condensed', sans-serif;



// fonts's size	
$fz16: 16px;
$fz20: 20px;
$fz28: 28px;
$fz30: 30px;



/*--------------------------------------------------
				Common Colors
---------------------------------------------------*/

$coconat: rgba(161, 97, 72, 1);
$cafe: rgba(77, 46, 26, 1);
$darkSalmon: rgba(232, 158, 129, 1);
$muddyBrown: rgba(208, 112, 84, 1);
$desert: rgba(232, 197, 170, 1);
$pearl: rgba(237, 227, 205, 1);
$grey: #333;